.container-slider{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    overflow: hidden;
    border: 6px solid #a9cad5;
    border-radius: 3px;
    position: relative;
}

.container-slider .slider{
    position: absolute;
    background: lightblue;
    width: 100%;
    height: 100%;
    color: #333;
    display: grid;
    place-items: center;
    transition: all 1s ease-in-out;
}

.container-slider .slider h1{
    font-size: 5rem;
    color: #65777c;
}
.container-btns{
    display: flex;
    justify-content: center;    
    margin: 30px 0;
}

.container-btns button{
    margin: 0 10px;
    border: 0;
    padding: 10px 16px;
    cursor: pointer;
    margin: 0 3px;
    border: 0;
    padding: 14px 22px;
    cursor: pointer;
    background: lightblue;
    color: #65777c;
    transition: all 0.2s ease-in-out;
}

.container-btns button:hover{
    background: #6b9fb0;
    color: #FFF;
}

.container-bullets{
    display: flex;
    justify-content: center;
}

.container-bullets .bullets{
    width: 18px;
    height: 18px;
    background: lightblue;
    border-radius: 10px;
    display: block;
    margin: 0 3px;
    cursor: pointer;
}

.container-bullets .bullets.active{
    background: #6b9fb0;
}
  